In [1]:
#Import libraries
import pandas as pd
import numpy as np
import matplotlib as plt

In [26]:
df = pd.read_csv('../Crime_Data_from_2020_to_Present.csv')

df.head(20)

,DR_NO,Date Rptd,DATE OCC,TIME OCC,AREA,AREA NAME,Rpt Dist No,Part 1-2,Crm Cd,Crm Cd Desc,...,Status,Status Desc,Crm Cd 1,Crm Cd 2,Crm Cd 3,Crm Cd 4,LOCATION,Cross Street,LAT,LON
0,10304468,01/08/2020 12:00:00 AM,01/08/2020 12:00:00 AM,2230,3,Southwest,377,2,624,BATTERY - SIMPLE ASSAULT,...,AO,Adult Other,624.0,NaN,NaN,NaN,1100 W 39TH PL,NaN,34.0141,-118.2978
1,190101086,01/02/2020 12:00:00 AM,01/01/2020 12:00:00 AM,330,1,Central,163,2,624,BATTERY - SIMPLE ASSAULT,...,IC,Invest Cont,624.0,NaN,NaN,NaN,700 S HILL ST,NaN,34.0459,-118.2545
2,200110444,04/14/2020 12:00:00 AM,02/13/2020 12:00:00 AM,1200,1,Central,155,2,845,SEX OFFENDER REGISTRANT OUT OF COMPLIANCE,...,AA,Adult Arrest,845.0,NaN,NaN,NaN,200 E 6TH ST,NaN,34.0448,-118.2474
3,191501505,01/01/2020 12:00:00 AM,01/01/2020 12:00:00 AM,1730,15,N Hollywood,1543,2,745,VANDALISM - MISDEAMEANOR ($399 OR UNDER),...,IC,Invest Cont,745.0,998.0,NaN,NaN,5400 CORTEEN PL,NaN,34.1685,-118.4019
4,191921269,01/01/2020 12:00:00 AM,01/01/2020 12:00:00 AM,415,19,Mission,1998,2,740,"VANDALISM - FELONY ($400 & OVER, ALL CHURCH VA...",...,IC,Invest Cont,740.0,NaN,NaN,NaN,14400 TITUS ST,NaN,34.2198,-118.4468
5,200100501,01/02/2020 12:00:00 AM,01/01/2020 12:00:00 AM,30,1,Central,163,1,121,"RAPE, FORCIBLE",...,IC,Invest Cont,121.0,998.0,NaN,NaN,700 S BROADWAY,NaN,34.0452,-118.2534
6,200100502,01/02/2020 12:00:00 AM,01/02/2020 12:00:00 AM,1315,1,Central,161,1,442,SHOPLIFTING - PETTY THEFT ($950 & UNDER),...,IC,Invest Cont,442.0,998.0,NaN,NaN,700 S FIGUEROA ST,NaN,34.0483,-118.2631
7,200100504,01/04/2020 12:00:00 AM,01/04/2020 12:00:00 AM,40,1,Central,155,2,946,OTHER MISCELLANEOUS CRIME,...,IC,Invest Cont,946.0,998.0,NaN,NaN,200 E 6TH ST,NaN,34.0448,-118.2474
8,200100507,01/04/2020 12:00:00 AM,01/04/2020 12:00:00 AM,200,1,Central,101,1,341,"THEFT-GRAND ($950.01 & OVER)EXCPT,GUNS,FOWL,LI...",...,IC,Invest Cont,341.0,998.0,NaN,NaN,700 BERNARD ST,NaN,34.0677,-118.2398
9,201710201,06/19/2020 12:00:00 AM,05/26/2020 12:00:00 AM,1925,17,Devonshire,1708,1,341,"THEFT-GRAND ($950.01 & OVER)EXCPT,GUNS,FOWL,LI...",...,AO,Adult Other,341.0,NaN,NaN,NaN,11900 BALBOA BL,NaN,34.2864,-118.5021
10,200100509,01/04/2020 12:00:00 AM,01/04/2020 12:00:00 AM,2200,1,Central,192,1,330,BURGLARY FROM VEHICLE,...,IC,Invest Cont,330.0,NaN,NaN,NaN,15TH,OLIVE,34.0359,-118.2648
11,200100510,01/05/2020 12:00:00 AM,01/05/2020 12:00:00 AM,955,1,Central,111,2,930,CRIMINAL THREATS - NO WEAPON DISPLAYED,...,IC,Invest Cont,930.0,NaN,NaN,NaN,800 N ALAMEDA ST,NaN,34.0615,-118.2412
12,200100514,01/05/2020 12:00:00 AM,01/05/2020 12:00:00 AM,1355,1,Central,162,1,341,"THEFT-GRAND ($950.01 & OVER)EXCPT,GUNS,FOWL,LI...",...,AA,Adult Arrest,341.0,NaN,NaN,NaN,800 S OLIVE ST,NaN,34.0452,-118.2569
13,200100515,01/07/2020 12:00:00 AM,01/07/2020 12:00:00 AM,1638,1,Central,162,1,648,ARSON,...,IC,Invest Cont,648.0,998.0,NaN,NaN,700 W 7TH ST,NaN,34.0480,-118.2577
14,200100520,01/08/2020 12:00:00 AM,01/08/2020 12:00:00 AM,1805,1,Central,128,1,442,SHOPLIFTING - PETTY THEFT ($950 & UNDER),...,IC,Invest Cont,442.0,NaN,NaN,NaN,100 S LOS ANGELES ST,NaN,34.0515,-118.2424
15,211916029,11/26/2021 12:00:00 AM,11/30/2020 12:00:00 AM,730,19,Mission,1916,2,626,INTIMATE PARTNER - SIMPLE ASSAULT,...,IC,Invest Cont,626.0,NaN,NaN,NaN,14200 BERG ST,NaN,34.3055,-118.4439
16,201116159,11/29/2020 12:00:00 AM,11/28/2020 12:00:00 AM,2018,11,Northeast,1124,2,626,INTIMATE PARTNER - SIMPLE ASSAULT,...,AO,Adult Other,626.0,NaN,NaN,NaN,3200 W AVENUE 32,NaN,34.1186,-118.2450
17,200506268,02/22/2020 12:00:00 AM,02/22/2020 12:00:00 AM,1900,5,Harbor,511,1,440,THEFT PLAIN - PETTY ($950 & UNDER),...,IC,Invest Cont,440.0,624.0,NaN,NaN,PACIFIC COAST,VERMONT,33.7926,-118.3043
18,210916801,11/22/2021 12:00:00 AM,11/19/2020 12:00:00 AM,1200,9,Van Nuys,932,2,354,THEFT OF IDENTITY,...,IC,Invest Cont,354.0,NaN,NaN,NaN,14700 FRIAR ST,NaN,34.1857,-118.4574
19,200100535,01/14/2020 12:00:00 AM,01/14/2020 12:00:00 AM,1330,1,Central,152,1,210,ROBBERY,...,IC,Invest Cont,210.0,NaN,NaN,NaN,7TH,HILL,34.0463,-118.2550

In [32]:
# Drop crm cd different than cd1
clean_df = df[df['Crm Cd'] == df['Crm Cd 1']]

clean_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 818877 entries, 0 to 820598
Data columns (total 28 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   DR_NO           818877 non-null  int64
 1   Date Rptd       818877 non-null  object
 2   DATE OCC        818877 non-null  object
 3   TIME OCC        818877 non-null  int64
 4   AREA            818877 non-null  int64
 5   AREA NAME       818877 non-null  object
 6   Rpt Dist No     818877 non-null  int64
 7   Part 1-2        818877 non-null  int64
 8   Crm Cd          818877 non-null  int64
 9   Crm Cd Desc     818877 non-null  object
 10  Mocodes         705422 non-null  object
 11  Vict Age        818877 non-null  int64
 12  Vict Sex        710951 non-null  object
 13  Vict Descent    710943 non-null  object
 14  Premis Cd       818867 non-null  float64
 15  Premis Desc     818394 non-null  object
 16  Weapon Used Cd  284516 non-null  float64
 17  Weapon Desc     284516 non-null  object
 18  Status          818877 non-null  object
 19  Status Desc     818877 non-null  object
 20  Crm Cd 1        818877 non-null  float64
 21  Crm Cd 2        58691 non-null   float64
 22  Crm Cd 3        1704 non-null    float64
 23  Crm Cd 4        37 non-null      float64
 24  LOCATION        818877 non-null  object
 25  Cross Street    130941 non-null  object
 26  LAT             818877 non-null  float64
 27  LON             818877 non-null  float64
dtypes: float64(8), int64(7), object(13)
memory usage: 181.2+ MB

In [78]:
# Number of records with un-specified sex
test= clean_df[clean_df['Vict Sex'] == 'X']
test1 = test.groupby(test['Crm Cd Desc'])
test2 = test1['Crm Cd Desc'].value_counts()
test2.sort_values(ascending=False)

Crm Cd Desc
BURGLARY                                                   11417
SHOPLIFTING - PETTY THEFT ($950 & UNDER)                   10590
VANDALISM - FELONY ($400 & OVER, ALL CHURCH VANDALISMS)     9538
ROBBERY                                                     4621
THEFT PLAIN - PETTY ($950 & UNDER)                          4288
                                                           ...
BIGAMY                                                         1
CONTRIBUTING                                                   1
INCITING A RIOT                                                1
TELEPHONE PROPERTY - DAMAGE                                    1
LEWD/LASCIVIOUS ACTS WITH CHILD                                1
Name: count, Length: 127, dtype: int64